<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link href="/reset.css" rel="stylesheet"/>
  <link href="/global.css" rel="stylesheet"/>
  <link href="/main.css" rel="stylesheet"/>
  <link href="/error.css" rel="stylesheet"/>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <title>Error</title>
</head>
<body>
<div class="container">
  <header class="header">
    <a href="/"><img src="../img/signiture.svg"/></a>
    {dh:if="${authenticated}"}
    <p class="header__user-name">안녕하세요, <span id="logged-in-user">{dh:text="${user.name}"}</span>님</p>
    <ul class="header__menu">
      <li class="header__menu__item">
        <a class="btn btn_contained btn_size_s" href="/article">글쓰기</a>
      </li>
      <li class="header__menu__item">
        <a class="btn btn_ghost btn_size_s" href="/logout">로그아웃</a>
      </li>
    </ul>
    {end-if}
    {dh:else}
    <ul class="header__menu">
      <li class="header__menu__item">
        <a class="btn btn_contained btn_size_s" href="/login">로그인</a>
      </li>
      <li class="header__menu__item">
        <a class="btn btn_ghost btn_size_s" href="/registration">
          회원 가입
        </a>
      </li>
    </ul>
    {end-else}
  </header>
  <div class="wrapper error_wrapper">
    <h2 class="error-code">{dh:text="${exception.code}"}</h2>
    <p class="error-message">{dh:text="${exception.message}"}</p>
    <a class="btn btn_contained btn_size_m" href="javascript:goBack()">이전 페이지로 돌아가기</a>
  </div>
</div>
</body>
</html>